body{
    background: url(./coffee-171653_1920.jpg) no-repeat center center fixed;
    background-size: cover;
}
.oga{
    color: white;
    margin-top: 25%;
    font-size: 75px;
    text-align: center;
    font-family: 'Revalia', cursive;
}
.image{
    height: 100px;
    width: 200px;
}